################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bridge/.vs
/Bridge/After/bin/Debug/net8.0
/Bridge/After/obj
/Bridge/Before/bin/Debug/net8.0/runtimes
/Bridge/Before/bin/Debug/net8.0/Before.deps.json
/Bridge/Before/bin/Debug/net8.0/Before.dll
/Bridge/Before/bin/Debug/net8.0/Before.exe
/Bridge/Before/bin/Debug/net8.0/Before.pdb
/Bridge/Before/bin/Debug/net8.0/DBModel.dll
/Bridge/Before/bin/Debug/net8.0/DBModel.pdb
/Bridge/Before/bin/Debug/net8.0/System.IO.Ports.dll
/Bridge/Before/bin/Debug/net8.0/TensiometerDLL.dll
/Bridge/Before/bin/Debug/net8.0/TensiometerDLL.pdb
/Bridge/Before/obj/Debug/net8.0/ref/Before.dll
/Bridge/Before/obj/Debug/net8.0/refint/Before.dll
/Bridge/DBModel/bin/Debug/net8.0
/Bridge/DBModel/obj
/Bridge/TensiometerDLL/bin/Debug/net8.0
/Bridge/TensiometerDLL/obj
/Bridge/Before/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Bridge/Before/obj/Debug/net8.0/apphost.exe
/Bridge/Before/obj/Debug/net8.0/Before.AssemblyInfo.cs
/Bridge/Before/obj/Debug/net8.0/Before.AssemblyInfoInputs.cache
/Bridge/Before/obj/Debug/net8.0/Before.assets.cache
/Bridge/Before/obj/Debug/net8.0/Before.csproj.AssemblyReference.cache
/Bridge/Before/obj/Debug/net8.0/Before.csproj.BuildWithSkipAnalyzers
/Bridge/Before/obj/Debug/net8.0/Before.csproj.CoreCompileInputs.cache
/Bridge/Before/obj/Debug/net8.0/Before.csproj.FileListAbsolute.txt
/Bridge/Before/obj/Debug/net8.0/Before.csproj.Up2Date
/Bridge/Before/obj/Debug/net8.0/Before.dll
/Bridge/Before/obj/Debug/net8.0/Before.GeneratedMSBuildEditorConfig.editorconfig
/Bridge/Before/obj/Debug/net8.0/Before.genruntimeconfig.cache
/Bridge/Before/obj/Debug/net8.0/Before.pdb
/Bridge/Before/obj/Debug/net8.0/Before.sourcelink.json
/Bridge/Before/obj/Release/net8.0
/Bridge/Before/obj/Before.csproj.nuget.dgspec.json
/Bridge/Before/obj/Before.csproj.nuget.g.props
/Bridge/Before/obj/project.assets.json
/Bridge/Before/obj/project.nuget.cache
